In [294]:
import pandas as pd
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)

In [295]:
with open('lindarollover.csv', 'r') as fin:
    data = fin.read().splitlines(True)

data = data[2:]
data = data[:-2]
with open('lindarollover2.csv', 'w') as fout:
    fout.writelines(data)

In [296]:
df = pd.read_csv('lindarollover2.csv')
#df["Expiration/Maturity"]
df2=df[["Symbol","Description","Quantity","Expiration/Maturity"]]
df2

df3=df2.sort_values(by=["Expiration/Maturity"],ascending=False)
df3

,Symbol,Description,Quantity,Expiration/Maturity
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025
10,SNOXX,SCHWAB TREASURY OBLIG MONEY INV,370.97,--

In [297]:
df4=df3[df3["Expiration/Maturity"]!="--"]
df4

,Symbol,Description,Quantity,Expiration/Maturity
4,912828V23,US TREASUR NT 2.25%12/23UST NOTE DUE 12/31/23,"17,000",12/31/2023
1,912796ZN2,US TREASURY BILL23U S T BILL DUE 12/28/23,"33,000",12/28/2023
7,91282CDN8,US TREASUR NT 1%12/24UST NOTE DUE 12/15/24,"29,000",12/15/2024
9,91282CHV6,US TREASUR NT 5%08/25UST NOTE DUE 08/31/25,"19,000",08/31/2025
3,912828D56,US TREASU NT 2.375%08/24UST NOTE DUE 08/15/24,"71,000",08/15/2024
8,91282CEX5,US TREASUR NT 3%06/24UST NOTE DUE 06/30/24,"33,000",06/30/2024
6,91282CBV2,US TREASU NT 0.375%04/24UST NOTE DUE 04/15/24,"33,000",04/15/2024
5,912828W71,US TREASU NT 2.125%03/24UST NOTE DUE 03/31/24,"17,000",03/31/2024
2,912810ET1,US TREASURY 7.625%02/25UST BOND DUE 02/15/25,"31,000",02/15/2025
0,61690DBB3,MORGAN STANLEY BA 5.2%25CD FDIC INS DUE 01/06/...,"33,000",01/06/2025

In [298]:
from datetime import datetime
#df4["maturity"] = pd.to_datetime(df4["Expiration/Maturity"])

df4.loc[:,("maturity")] = pd.to_datetime(df4["Expiration/Maturity"])
df4.loc[:,("Quantity")] = df4["Quantity"].str.replace(',','')
#df4.groupby(by=['maturityq']).agg(['count'])
df5=df4[["maturity","Quantity"]]
df5
#df5.groupby(by=['maturityq']).agg(['sum'])

    maturity Quantity
4 2023-12-31    17000
1 2023-12-28    33000
7 2024-12-15    29000
9 2025-08-31    19000
3 2024-08-15    71000
8 2024-06-30    33000
6 2024-04-15    33000
5 2024-03-31    17000
2 2025-02-15    31000
0 2025-01-06    33000

In [299]:
df5.loc[:,("maturityq")] = pd.PeriodIndex(df4["maturity"], freq='Q')
d=df5.sort_values(by=["maturity"],ascending=True)
d.loc[:,("Quantityi")] = df4["Quantity"].astype(int)
df5 = d[["maturity","Quantityi"]]
df5

    maturity  Quantityi
1 2023-12-28      33000
4 2023-12-31      17000
5 2024-03-31      17000
6 2024-04-15      33000
8 2024-06-30      33000
3 2024-08-15      71000
7 2024-12-15      29000
0 2025-01-06      33000
2 2025-02-15      31000
9 2025-08-31      19000

In [301]:
d=df5.set_index(['maturity'])
display(d)
#print(df5['maturity'].min())
#print(df5['maturity'].max())

#print(df5.index)
#print(d.index)
#d2 = d.asfreq(freq='90D',fill_value=42)
#display(d)
#display(d2)

idx = pd.date_range(d.index.min(),d.index.max(),freq='90D')
#d3 = d.reindex(idx,method='bfill')
d3 = d.asfreq('d',fill_value=0)
#display(d3)
df6=d3
#df6['id'] = range(1,1+len(df6))
#df6.insert(0,'id',range(1,1 + len(df6)))
#df6=df6.set_index('id')
display(df6)
df6.reset_index(inplace=True)
df6.set_index('maturity', drop=False)
display(df6)

            Quantityi
maturity
2023-12-28      33000
2023-12-31      17000
2024-03-31      17000
2024-04-15      33000
2024-06-30      33000
2024-08-15      71000
2024-12-15      29000
2025-01-06      33000
2025-02-15      31000
2025-08-31      19000

            Quantityi
maturity
2023-12-28      33000
2023-12-29          0
2023-12-30          0
2023-12-31      17000
2024-01-01          0
...               ...
2025-08-27          0
2025-08-28          0
2025-08-29          0
2025-08-30          0
2025-08-31      19000

[613 rows x 1 columns]

      maturity  Quantityi
0   2023-12-28      33000
1   2023-12-29          0
2   2023-12-30          0
3   2023-12-31      17000
4   2024-01-01          0
..         ...        ...
608 2025-08-27          0
609 2025-08-28          0
610 2025-08-29          0
611 2025-08-30          0
612 2025-08-31      19000

[613 rows x 2 columns]

In [181]:
d = df5.set_index('maturity')
#display(d)
idx = pd.date_range(d.index.min(),d.index.max(),freq='90D')
display(idx)
#display(idx)
#display(pd.PeriodIndex(idx, freq='Q'))
#d.index = pd.to_datetime(d.index, format='%Y-%m-%d')
#print(idx.size)
#print(type(idx))
#print(pd.PeriodIndex(df4["maturity"], freq='Q'))
#pidx = pd.PeriodIndex(df4["maturity"], freq='Q')
print('miss:',idx.difference(d.index))
#print('pmiss:',pidx.difference(d.index))
d2=d.reindex(idx,method='bfill')
display(d)
display(d2)

DatetimeIndex(['2023-12-28', '2024-03-27', '2024-06-25', '2024-09-23',
               '2024-12-22', '2025-03-22', '2025-06-20'],
              dtype='datetime64[ns]', freq='90D')

miss: DatetimeIndex(['2024-03-27', '2024-06-25', '2024-09-23', '2024-12-22',
               '2025-03-22', '2025-06-20'],
              dtype='datetime64[ns]', freq=None)

ValueError: index must be monotonic increasing or decreasing

In [92]:
df6 = (df5.set_index('maturity')
       .reindex(pd.date_range(start='12/31/2022', end='12/31/2033', freq='QS'))
       .rename_axis(['maturity'])
       .fillna(0)
       .reset_index())

df6

     maturity  Quantityi
0  2023-01-01        0.0
1  2023-04-01        0.0
2  2023-07-01        0.0
3  2023-10-01        0.0
4  2024-01-01        0.0
5  2024-04-01        0.0
6  2024-07-01        0.0
7  2024-10-01        0.0
8  2025-01-01        0.0
9  2025-04-01        0.0
10 2025-07-01        0.0
11 2025-10-01        0.0
12 2026-01-01        0.0
13 2026-04-01        0.0
14 2026-07-01        0.0
15 2026-10-01        0.0
16 2027-01-01        0.0
17 2027-04-01        0.0
18 2027-07-01        0.0
19 2027-10-01        0.0
20 2028-01-01        0.0
21 2028-04-01        0.0
22 2028-07-01        0.0
23 2028-10-01        0.0
24 2029-01-01        0.0
25 2029-04-01        0.0
26 2029-07-01        0.0
27 2029-10-01        0.0
28 2030-01-01        0.0
29 2030-04-01        0.0
30 2030-07-01        0.0
31 2030-10-01        0.0
32 2031-01-01        0.0
33 2031-04-01        0.0
34 2031-07-01        0.0
35 2031-10-01        0.0
36 2032-01-01        0.0
37 2032-04-01        0.0
38 2032-07-01        0.0
39 2032-10-01        0.0
40 2033-01-01        0.0
41 2033-04-01        0.0
42 2033-07-01        0.0
43 2033-10-01        0.0

In [306]:
print(df6.index)
print(df6.columns)

#display(df6)
df6.loc[:,("maturityq")] = pd.PeriodIndex(df6["maturity"], freq='Q')
display(df6)
d  = df6.set_index('maturityq')
display(d)
d=d[["maturityq","Quantityi"]]
display(d)
#d.groupby(by=['maturityq']).sum()

RangeIndex(start=0, stop=613, step=1)
Index(['maturity', 'Quantityi', 'maturityq'], dtype='object')

      maturity  Quantityi maturityq
0   2023-12-28      33000    2023Q4
1   2023-12-29          0    2023Q4
2   2023-12-30          0    2023Q4
3   2023-12-31      17000    2023Q4
4   2024-01-01          0    2024Q1
..         ...        ...       ...
608 2025-08-27          0    2025Q3
609 2025-08-28          0    2025Q3
610 2025-08-29          0    2025Q3
611 2025-08-30          0    2025Q3
612 2025-08-31      19000    2025Q3

[613 rows x 3 columns]

            maturity  Quantityi
maturityq
2023Q4    2023-12-28      33000
2023Q4    2023-12-29          0
2023Q4    2023-12-30          0
2023Q4    2023-12-31      17000
2024Q1    2024-01-01          0
...              ...        ...
2025Q3    2025-08-27          0
2025Q3    2025-08-28          0
2025Q3    2025-08-29          0
2025Q3    2025-08-30          0
2025Q3    2025-08-31      19000

[613 rows x 2 columns]

KeyError: "['maturityq'] not in index"